html {
    scroll-behavior: smooth;
}

body {
    background-color: #171717;
    font-family: 'Fira Code', monospace;
}

a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.5s ease;
}

a:hover {
    color: #0FA05D;
}

nav, footer {
    background-color: #171717b3;
}

#sottotitolo {
    color: #0FA05D;
    background: linear-gradient(to right, #0FA05D, #D51152, #0FA05D, #D51152);
    background-size: 300%;
    background-position: -100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: sfumatura 4s linear infinite;
}

@keyframes sfumatura {
    from { background-position: 0%; }
    to { background-position: 100%; }
}

.card {
    background-color: #171717;
    
    transition: transform 0.5s ease;
    border-radius: 30px 0;
    box-shadow: 0px 0px 10px #d0d0d0;
}

.card:hover {
    transform: scale(1.01);
}

.btn-success {
    background: linear-gradient(45deg, #0FA05D, #D51152);
    border: none;
    box-shadow: 0 0 10px #d0d0d0;
    transition: transform 0.5s ease;
}

.btn-success:hover {
    transform: scale(1.05);
}

#divisore {
    margin: 0 auto 20px;
    background: linear-gradient(45deg, #0FA05D, #D51152);
    width: 100px;
    height: 3px;
}

#onda-uno {
    position: absolute;
    top: 250px;
    z-index: -100;
}

#onda-due {
    position: absolute;
    top: 1800px;
    z-index: -100;
}

option:hover { 
    background: rgb(227, 16, 16) !important;
}

@media screen and (max-width: 576px) {
    .card {
        margin: auto 20px;
    }

    .col-12 {
        padding: 0 !important;
    }

    #logo {
        display: block !important;
    }

    #logo-completo {
        display: none;
    }

    #onda-uno, #onda-due {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #onda-due {
        top: 3200px;
    }
}

@media screen and (max-width: 1200px) {
    #onda-uno {
        top: 500px;
    }
}